.todo-container {
  //   display: flex;
  //   justify-content: space-between;
  padding: 10px;
}
.todo-list-container {
  //   width: 100%;
  //   flex: 1;
  li {
    display: flex;
    width: auto;
    padding: 5px;
    margin: 5px;

    label {
      display: flex;
      box-sizing: content-box;
      align-items: center;
      justify-content: center;
      input {
        margin: 5px;
      }
      p {
        margin: 5px;
      }
    }
  }
}
.login-container {
  display: flex;
  margin-left: auto;
  width: fit-content;
  padding: 10px;
}
